[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2" = "*"
social-auth-app-django = "*"

[dev-packages]
pylint = "*"
pytest-django = "*"

[requires]
python_version = "3.7"
